<div class="row">
    <div class="col-xs-12 col-md-8 col md-offset-2">
        <div class="form-group">
            <label>Description</label>
            <input type="text"
            class="form-control"
            #requestTicket>
        </div>
        <div class="form-group">
            <select class="form-control" #status>
                <option value="approved">Approved</option>
                <option value="pending">Pending</option>
                <option value="denied">Denied</option>
            </select>
        </div>
        <button
        class="btn btn-primary"
        (click)="createTicket(requestDescription, requestStatus)"
        </button>  
    </div>
</div>