<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Description</label>
        <input
          type="text"
          class="form-control"
          #requestDescription>
      </div>
      <div>
        <label>Amount</label>
        <input
          type="text"
          class="form-control"
          #requestAmount>
      </div>
      <button
        class="btn btn-primary"
        (click)="onAddRequest(requestDescription.value, requestAmount.value)">
        Add Request
      </button>
    </div>
  </div>